<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adityamohile.senseaware">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jester_launcher"
        android:label="JestCall"
        android:roundIcon="@mipmap/ic_jester_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CallActivity">
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>

        <service
            android:name=".CheckFlip"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <data android:scheme="tel" />
            </intent-filter>
        </service>

        <receiver
            android:name=".CallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CALL_PRIVILEGED" />

                <data android:scheme="tel" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".CancelBroadcastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>